.git
.vscode
.venv
venv
**/__pycache__
**/*.pyc
**/*.egg-info
**/node_modules
**/dist
**/.DS_Store
.env
.env.*
artifacts
CV/artifacts
CV/results
server/anomaly_dataset
anomaly_dataset
**/.pytest_cache
**/.cache
